<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Field</title>
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='D:/Python Programming/MiniProject/static/styles/search_field.css') }}"> -->
	<link rel="stylesheet" href="search_field.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="search_field.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<!-- <body>
	<span class="container">
		<span class="content">
			<input type="text" name="query" id="query" class="search-field">
			<button class="button-48" role="button"><span class="text"></span></button>
		</span>
	</span>
	<span class="test"><i class="fa-light fa-magnifying-glass fa-rotate-90" style="color: #000000;"></i></span>
</body>  -->

<body>
	<div id="generated-image">
		Generated Images<br>
		{% for i in image %}
			<img src="{{ i }}" alt="Generated Image">
		{% endfor %}
	</div>
	<form id="search" onsubmit="" method="post">
		<input type="search" name="prompt" required>
		<!-- <input type="submit" name="" id=""> -->
		<i class="fa fa-search" id="search-btn"></i>
	<!-- <a href="javascript:void(0)" id="clear-btn">Clear</a> -->
	</form>
</body>

</html>